@model List<SuperHeroes.Models.SuperHero>

@{
    ViewBag.Title = "Read";
}

<h2>Index</h2>
<div>
    <h4>SuperHero</h4>
    <hr />
    @foreach (var superHero in Model)
    {
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => superHero.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => superHero.Name)
        </dd>
        @Html.ActionLink("Delete", "Delete", new { Id = superHero.Id })
        @Html.ActionLink("Update", "Update", new { Id = superHero.Id })
        @Html.ActionLink("Display", "Index", new { Id = superHero.Id })
        
    </dl>
    }

</div>
<p>
    @Html.ActionLink("Create", "Create")
</p>
